{% extends 'base.html' %}
{% block title %}Iniciar Sesion - TechPlanet{%endblock title %} 
{% block content %}
{% load static %}
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="loginForm">
          <div class="form-group">
            <label for="loginEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="loginEmail" required />
          </div>
          <div class="form-group">
            <label for="loginPassword">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="loginPassword"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
